nav{
    display: flex;
    height: 10%;
    background: rgb(136, 136, 228);
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}
nav .link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: bold;
}
