.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  height: 100%;
  width: 100%;
  box-sizing: border-box;

  border: 1px solid black;
  background: rgba(209, 203, 203, 0.39);
}
.home .list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.home .list li {
  display: grid;
  width: 90%;
  grid-template-columns: 60% 40%;
  margin-bottom: 1%;
  padding: 0.05%;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}
.home .list li button {
  border: none;
  background: rgba(37, 37, 226, 0.788);
  outline: none;
  width: 4rem;
  height: 2rem;
  margin-left: 10px;
  border-radius: 3%;
}
.home .list li .buttons {
  display: flex;
  justify-content: space-between;
}
.home .list li .delete {
  background: rgba(230, 31, 31, 0.774);
}
