.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: inherit;
  width: 100%;
  box-sizing: border-box;
  color: rgb(65, 61, 61);
}
.home .list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.home .list li {
  display: grid;
  width: 80%;
  grid-template-columns: 70% 30%;
  padding: 1%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.603);
  box-sizing: border-box;
}
.home .list li span {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.home .list li:hover {
  background: rgba(164, 164, 226, 0.582);
}
.home .list li button {
  border: none;
  background: rgba(128, 128, 128, 0.678);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 6%;
}
.home .list li .buttons {
  display: flex;
  justify-content: space-between;
}
.home .list li .delete {
  background: rgb(192, 92, 92);
}
.home h3 {
  font-size: 2rem;
}
.add-new {
  text-align: right;
  width: 80%;
  height: 15%;
  margin-bottom: 1.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.add-new button {
  border: none;
  border-radius: 100px 100px 100px 100px;
  padding: 10px 20px;
  color: white;
  background: rgb(164, 164, 226);
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}

@media screen and (max-width: 768px) {
  .home .list li {
    display: grid;
    width: 90%;
    grid-template-columns: 60% 40%;
    padding: 1%;
    box-sizing: border-box;
  }
  .home .list li span {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.5rem;
  }
  .home .list li button {
    font-size: 0.5rem;
    font-weight: bold;
    outline: none;
    padding: 2px 3px;
    margin-left: 1px;
    border-radius: 1%;
    box-sizing: border-box;
  }
  .home .list li .buttons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .home h3 {
    font-size: 1rem;
  }
  .add-new {
    text-align: right;
    width: 80%;
    height: 8%;
    margin-bottom: 1.5%;
  }
  .add-new button {
    padding: 6px 12px;
    font-size: 0.5rem;
  }
}
